apiVersion: v1
kind: Secret
metadata:
  name: kk-payments-secrets
  namespace: kijani-project
type: Opaque
stringData:
  DB_PASSWORD: "<obtain-from-team>"
  STRIPE_API_KEY: "<obtain-from-team>"
  JWT_SECRET: "<obtain-from-team>"
